<div data-uk-sticky>
	<nav class="uk-navbar" style="padding: 20px 0px 15px 0px;">
		<div class="uk-navbar-content uk-navbar-center">
			<ul class="uk-navbar-nav">
				<li class="uk-parent" data-uk-dropdown="">
					<a href="">SITE PAGES <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="#">ABOUT</a></li>
							<li><a href="#">BLOG</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">PROJECTS</a></li>
							<li><a href="#">RESUME</a></li>
						</ul>
					</div>
				</li>

				<li class="uk-button-primary"><a href="">CALEM BENDELL</a></li>

				<li class="uk-parent" data-uk-dropdown="">
					<a href="">LINKS <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-header">Header</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">Separated item</a></li>
						</ul>
					</div>
				</li>			</ul>
		</div>
	</nav>
</div>
