<nav class="uk-flex uk-flex-center uk-navbar" style="padding: 20px 0px 20px 0px;">
			<ul class="uk-navbar-nav">

				<li class="uk-parent uk-button-success" data-uk-dropdown="">
					<a href="">PAGES <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="{{ .Site.BaseURL }}/about">ABOUT</a></li>
							<!-- <li><a href="{{ .Site.BaseURL }}/blog">BLOG</a></li> -->
							<li class="uk-nav-divider"></li>
							<li><a href="{{ .Site.BaseURL }}/posts">POSTS</a></li>
							<li><a href="{{ .Site.BaseURL }}/projects">PROJECTS</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="{{ .Site.BaseURL }}/media">MEDIA</a></li>
						</ul>
					</div>
				</li>

				<li class="uk-button-primary"><a href="{{ .Site.BaseURL }}">CALBEN</a></li>

				<li class="uk-parent uk-button-success" data-uk-dropdown="">
					<a href="">LINKS <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="https://github.com/calben">GITHUB</a></li>
							<li><a href="#">LANDINI FOUNDATION</a></li>
						</ul>
					</div>
				</li>
			</ul>
</nav>
