<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "mainpartials/head.html" . }}
</head>
<body id="page-top">
  {{ partial "mainpartials/nav.html" . }}

  <div class="uk-margin-large-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-1-1 uk-text-center">
        <h1 class="uk-heading-large">{{ .Title }}</h1>
        <ul id="list">
          {{ range .Data.Pages.ByTitle }}
          <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

    </div>

  </div>

  {{ partial "mainpartials/js.html" . }}

</body>
</html>
